<!DOCTYPE html>
	<head>
		<title>Mobile Gamepad 0.0.1</title>
		<script type="text/css" src='../styles/gamepad.css'></script>
		<script type='text/javascript' src='../gamepad.js'></script>
	</head>	
	<body>
		<header>
			<h1>Gamepad</h1>
		</header>
		<div class='controls'>
			<div id='up-ctrl'>
				<div class='arrow' id='up'></div>
				<div class='rect' id='land'></div>
			</div>
			<div id='middle-ctrl'>
				<div id='left-ctrl'>
					<div class='arrow' id='left'></div>
					<div class='rect' id='port'></div>
				</div>
				<div id='right-ctrl'>
					<div class='arrow' id='right'></div>
					<div class='rect' id='port'></div>
				</div>
			</div>
			<div id='down-ctrl'>
				<div class='arrow' id='down'></div>
				<div class='rect' id='land'></div>
			</div>
		</div>
	</body>